/***** General CSS rules *****/

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 4.4rem;
}

body {
    position: relative;
    top: 4.4rem;
    background-color: #050d18;
    font-family: "Source Sans Pro", sans-serif;
}

.container {
    width: 70%;
}

/***** Navbar CSS Rules *****/

#navigation {
    background-color: #050d18;
    font-family: "Source Code Pro", monospace;
    z-index: 100;
}

#menu a {
    margin-left: 1rem;
    color: #a8a9b4;
    font-size: small;
    text-align: center;
}

#menu li.active a {
    color: white;
}

#menu a:hover {
    color: #fff;
    border-bottom: 1px solid #149ddd;
    transition: 0.3s;
}

#social li:hover {
    background-color: #149ddd;
    transform: scale(1.1);
    transition: 0.1s;
}

#social i {
    text-align: center;
}

.navbar-toggler {
    color: #fff;
    background-color: #212431;
}

.navbar-toggler:hover {
    background-color: #149ddd;
    transition: 0.3s;
}

.navbar-toggler:active {
    background-color: #149ddd;
}

/***** Jumbotron CSS Rules *****/

#home .jumbotron {
    margin-top: 1rem;
    background-color: #050d18;
}

#home h1 {
    font-size: 2rem;
    color: darkgray;
}

#home h2 {
    font-size: 3rem;
    color: whitesmoke;
}

#home h1, h2 {
    font-weight: bold;
}

#home p.heading {
    color: #149ddd;
    margin-top: 1.5rem;
    font-family: "Source Code Pro", monospace;
}

#home p.intro {
    color: darkgray;
}

#social {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
}

#social li {
    display: inline-block;
    font-size: 1rem;
    background-color: #212431;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin-right: 0.9rem;
}

#social i {
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 50%;
    margin: 0.5rem auto;
}

/***** About Section CSS *****/

#about .container {
    margin-top: 6rem;
    box-shadow: 0px 0px 16px #10162F;
}

#about .content {
    padding: 4rem 2rem;
}

#about h3 {
    width: 7rem;
    color: whitesmoke;
    font-weight: bold;
    border-bottom: 1px dotted #149ddd;
}

#about p {
    color: darkgray;
}

/***** Navbar for smaller screens *****/

@media only screen and (max-width:767px) {
    html {
        scroll-padding-top: 13rem;
    }

    body {
        top: 13rem;
    }

    .container {
        width: 90%;
    }

    #home .jumbotron {
        margin-top: 0;
    }

    #navbarSupportedContent ul {
        width: 100%;
    }

    #navbarSupportedContent #menu a {
        width: 5rem;
        margin: 0 auto;
        text-align: center;
    }
    
    #navbarSupportedContent #menu a:hover {
        border-bottom: 1px solid #149ddd;
        transition: 0.3s;
    }
    
    #navbar-button.navbar-toggler.collapsed + #navbarSupportedContent #menu a {
        animation: fadeOut linear 0.5s;
        -webkit-animation: fadeOut linear 0.5s;
        -moz-animation: fadeOut linear 0.5s;
        -o-animation: fadeOut linear 0.5s;
        -ms-animation: fadeOut linear 0.5s;
    }
}

/***** FadeIn animation CSS *****/

.fade-in {
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
    animation-fill-mode: backwards;
}

.delay-1 { animation-delay: 0.6s; }  
.delay-2 { animation-delay: 0.7s; }
.delay-3 { animation-delay: 0.8s; }
.delay-4 { animation-delay: 0.9s; }
.delay-5 { animation-delay: 1.1s; }

/***** Fade In animation *****/

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
 }
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/***** Fade Out animation *****/

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
 }
  
@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}


