body {
    font-family: 'M PLUS Code Latin', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
}

h1 {
    position: relative;
    margin-top: 5em;
    text-align: center;
}

#navigation {
    background-color: #040b14;
}

#menu a{
    color: #a8a9b4;
    width: 5em;
    text-align: center;
}

#menu li.active a {
    color: white;
}

#social a {
    color: white;
    background-color: #212431;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    margin-right: 0.5em;
}

#social i {
    text-align: center;
}

#menu a:hover {
    color: #fff;
    background-color: #149ddd;
    border-radius: 5%;
    transform: scale(1.1); 
    transition: 0.3s;
}

#social a:hover {
    background-color: #149ddd;
    transform: scale(1.15);
    align-items: center;
    transition: 0.3s;
}

.navbar-toggler {
    color: #fff;
    background-color: #212431;
}

.navbar-toggler:hover {
    background-color: #149ddd;
    transition: 0.3s;
}

.navbar-toggler:active {
    background-color: #149ddd;
}

/* Navbar expanded */

@media screen and (max-width:767px) {
    #navbarSupportedContent #menu a {
        width: 100%;
        text-align: center;   
    }
    
    #navbarSupportedContent #menu a:hover {
        background-color: #149ddd;
        transition: 0.3s;
        border-radius: 1%;
    }
    
    #navbarSupportedContent #social {
        width: 100%;
        text-align: center;
        margin: 1em 0;
        display: inline-block;
    }
    
    #navbarSupportedContent #social li {
        display: inline-block;
        text-align: center;
    }
}


