body {
    font-family: 'M PLUS Code Latin', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
}

h1 {
    position: relative;
    margin-top: 5em;
    text-align: center;
}

#navigation {
    background-color: #040b14;
}

#menu a{
    color: #a8a9b4;
}

#menu li.active a {
    color: white;
}

#social a {
    color: white;
    background-color: #212431;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    margin-right: 0.5em;
}

#menu a:hover {
    color: #fff;
    background-color: #149ddd;
    border-radius: 5%;
    transition: 0.3s;
}

#social a:hover {
    background-color: #149ddd;
    transition: 0.3s;
}

.navbar-toggler {
    color: #fff;
    background-color: #212431;
}

.navbar-toggler:hover {
    background-color: #149ddd;
    transition: 0.3s;
}

.navbar-toggler:active {
    background-color: #149ddd;
}

/* Navbar expanded */

#navbarSupportedContent.show #menu {
    text-align: center;
}

#navbarSupportedContent.show #menu li:hover {
    background-color: #149ddd;
    transition: 0.3s;
    border-radius: 1%;
}

#navbarSupportedContent.show #social {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#navbarSupportedContent.show #social li{
    display: inline-block;
    margin: 1em auto;
}
