/***** General CSS rules *****/

html {
    font-size: 16px;
}

body {
    background-color: #050d18;
    font-family: "Source Sans Pro", monospace;
}

/***** Navbar CSS Rules *****/

#navigation {
    background-color: #050d18;
    font-family: "Source Code Pro", monospace;
    opacity: 0.8;
    z-index: 10;
}

#menu a {
    margin-left: 1rem;
    color: #a8a9b4;
    font-size: small;
    text-align: center;
}

#menu li.active a {
    color: white;
}

#social a {
    color: white;
    font-size: 0.85rem;
    background-color: #212431;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-right: 0.8rem;
}

#menu a:hover {
    color: #fff;
    border-bottom: 1px solid #149ddd;
    transition: 0.3s;
}

#social a:hover {
    background-color: #149ddd;
    align-items: center;
    transform: scale(1.1);
    transition: 0.1s;
}

#social i {
    text-align: center;
}

.navbar-toggler {
    color: #fff;
    background-color: #212431;
}

.navbar-toggler:hover {
    background-color: #149ddd;
    transition: 0.3s;
}

.navbar-toggler:active {
    background-color: #149ddd;
}

/***** FadeIn animation CSS *****/

#menu.fade-in,
#social.fade-in {
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}

/***** Jumbotron CSS Rules *****/

#home .container {
    width: 70%;
    /*filter: drop-shadow(1px 4px 4px #10162F);*/
}

#home .jumbotron {
    margin-top: 1.5rem;
    background-color: #050d18;
}

#home h1 {
    font-size: 2rem;
    color: darkgray;
}

#home h2 {
    font-size: 3rem;
    color: whitesmoke;
}

#home h1, h2 {
    font-weight: bold;
}

#home p.heading {
    color: #149ddd;
    margin-top: 1.5rem;
    font-family: "Source Code Pro", monospace;
}

#home p.intro {
    color: darkgray;
}

/***** Navbar for smaller screens *****/

@media only screen and (max-width:767px) {
    #navbarSupportedContent #menu a {
        width: 5rem;
        margin: 0 auto;
        text-align: center;
    }
    
    #navbarSupportedContent #menu a:hover {
        border-bottom: 1px solid #149ddd;
        transition: 0.3s;
    }
    
    #navbarSupportedContent #social {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
        display: inline-block;
    }
    
    #navbarSupportedContent #social li {
        display: inline-block;
        text-align: center;
    }

    #navbar-button.navbar-toggler.collapsed + #navbarSupportedContent #menu a {
        animation: fadeOut linear 0.5s;
        -webkit-animation: fadeOut linear 0.5s;
        -moz-animation: fadeOut linear 0.5s;
        -o-animation: fadeOut linear 0.5s;
        -ms-animation: fadeOut linear 0.5s;
    }

    #navbar-button.navbar-toggler.collapsed + #navbarSupportedContent #social a {
        animation: fadeOut linear 0.5s;
        -webkit-animation: fadeOut linear 0.5s;
        -moz-animation: fadeOut linear 0.5s;
        -o-animation: fadeOut linear 0.5s;
        -ms-animation: fadeOut linear 0.5s;
    }
}

/***** Fade In animation *****/

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
 }
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/***** Fade Out animation *****/

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
 }
  
@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}


