body {
    font-family: 'M PLUS Code Latin', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: 1s;
}

h1 {
    position: relative;
    margin-top: 5em;
    text-align: center;
}

#navigation {
    background-color: #040b14;
}

#menu a {
    color: #a8a9b4;
    width: 5em;
    text-align: center;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}

#menu li.active a {
    color: white;
}

#social a {
    color: white;
    background-color: #212431;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    margin-right: 0.5em;
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
}

#social i {
    text-align: center;
}

#menu a:hover {
    color: #fff;
    background-color: #149ddd;
    border-radius: 5%;
    transform: scale(1.1); 
    transition: 0.3s;
}

#social a:hover {
    background-color: #149ddd;
    transform: scale(1.15);
    align-items: center;
    transition: 0.3s;
}

.navbar-toggler {
    color: #fff;
    background-color: #212431;
}

.navbar-toggler:hover {
    background-color: #149ddd;
    transition: 0.3s;
}

.navbar-toggler:active {
    background-color: #149ddd;
}

/* Navbar for smaller screens */

@media screen and (max-width:767px) {
    #navbarSupportedContent #menu a {
        width: 100%;
        text-align: center;
    }
    
    #navbarSupportedContent #menu a:hover {
        background-color: #149ddd;
        transition: 0.3s;
        border-radius: 1%;
    }
    
    #navbarSupportedContent #social {
        width: 100%;
        text-align: center;
        margin: 1em 0;
        display: inline-block;
    }
    
    #navbarSupportedContent #social li {
        display: inline-block;
        text-align: center;
    }

    #navbar-button.navbar-toggler.collapsed + #navbarSupportedContent #menu a {
        animation: fadeOut linear 0.5s;
        -webkit-animation: fadeOut linear 0.5s;
        -moz-animation: fadeOut linear 0.5s;
        -o-animation: fadeOut linear 0.5s;
        -ms-animation: fadeOut linear 0.5s;
    }

    #navbar-button.navbar-toggler.collapsed + #navbarSupportedContent #social a {
        animation: fadeOut linear 0.5s;
        -webkit-animation: fadeOut linear 0.5s;
        -moz-animation: fadeOut linear 0.5s;
        -o-animation: fadeOut linear 0.5s;
        -ms-animation: fadeOut linear 0.5s;
    }
}

/**/
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
 }
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/**/
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
 }
  
@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}


